<%- layout('layouts/main.ejs')%>
    <style>
        #botonStreaming {
            position: fixed;
            bottom: 10;
            right: 0;
        }

        #botonStreamingStop {
            position: fixed;
            bottom: 0;
            right: 0;
        }

        #video {
            position: fixed;
            bottom: 0;
            right: 0;
        }
    </style>


    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js" crossorigin="anonymous"></script>

    <body>
        <div class="container">
            <video class="input_video" id="inputVid"></video>
            <canvas class="output_canvas border border-dark rounded-top" width="1280" height="720" id="video"></canvas>
        </div>
        <div id="data"></div>
        <div id="dataEmotion"></div>
        <button type="button"  id="botonStreaming" class="btn btn-primary btn-block">Reconocer</button>
        <button type="button" id="botonStreamingStop" class="btn btn-primary btn-block" >Parar</button>
    </body>
    <script type="module" src="/src/facemesh.js"></script>